modules = ["web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "web-server"

[[workflows.workflow]]
name = "web-server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37723
externalPort = 3003

[[ports]]
localPort = 42287
externalPort = 3002

[[ports]]
localPort = 46109
externalPort = 3001

[[ports]]
localPort = 46375
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["python3", "server.py"]
